/* html{
    filter: invert();
} */
@keyframes logo {
    0%{
        color: #315a42;
        text-shadow: 0px 0px 2px rgba(13, 85, 61, 0.582);
        transform: translate(0px,0px);
    }
    25%{
        color: #4a6688;
        text-shadow: 5px 0px 5px rgba(13, 85, 61, 0.582);
        transform: translate(-5px,0px);
    }
    50%{
        color: #315a42;
        text-shadow: 0px 0px 2px rgba(13, 85, 61, 0.582);
        transform: translate(0px,0px);
    }
    75%{
        color: #4a6688;
        text-shadow: -5px 0px 5px rgba(13, 85, 61, 0.582);
        transform: translate(5px,0px);
    }
    100%{
        color: #315a42;
        text-shadow: 0px 0px 2px rgba(13, 85, 61, 0.582);
        transform: translate(0px,0px);
    }
}

#root{
    padding-top: 42px;
	display: flex;
	flex-direction: column;
    min-height: calc(100vh);
    position: absolute;
    height: auto;
    width: 100%;
    background-color:transparent;
}
.App{
    background-color:transparent;
    height: 100%;
    margin-top:14px;
    overflow-x: hidden;
}
html.darkMode{
    background-color: #0c0c0c;;
}
.darkMode table .linkToUser{
    filter:unset;
}
.darkMode .btn:not(.__ico_nqa){
    background: gray;
}
.darkMode .inverted,
.darkMode .sign-page span,
.darkMode .contrastHx,
.darkMode .linkToUser,
.darkMode .modal-content,
.darkMode .modal-content img,
.darkMode .sign-page .card,
.darkMode .formCreateItem,
.darkMode .adminWrapForTheme,
.darkMode .prof_ile__contain,
.darkMode .profile-photo,
.darkMode .formCreateItem .fileInput,
.darkMode .contOfItemMain,
.darkMode .contOfItemMain img{
    filter:invert(1);
}
.contrastHx{
    color:black;
}
.langBtn:hover{
    box-shadow: 0 0 10px white;
}
.langBtn{
    transition:.3s;
    margin-left: 15px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    line-height: 1;
    border: none;
}

.darkMode #mainGrabbyNavbar *:hover{
    color:black !important;
}
.darkMode .card.__cont_ainer_ button:hover,
.darkMode .btn:hover{
    box-shadow: 0 0 10px #fff;
}
.darkMode .card.__cont_ainer_ button,
.darkMode .btn{
    color:black !important;
    filter: invert();
    box-shadow: 0 0 5px #fffa;
}
.darkMode .card.__cont_ainer_ button{
    filter: unset;
}
.darkMode .collectionsBox{
    filter:grayscale(1);
}
.darkMode .card.__cont_ainer_{
    background: #000;
    color: #a69999;
    box-shadow: 0 0 30px #fff3;
}

.btn{
    font-size: .7rem;
}

body,html{
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    word-wrap: break-word;
}
.sign-page{
    width:100%;
    min-height: 90vh;
    max-width: 1100px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.mane-page{
    max-width: 1200px;
    margin:auto
}
.message-cont{
    z-index: 2;
    position: fixed;
}
.textField{
    transform-origin: left top;
    left:0;
    position: relative;
    padding:5px;
}
.activeSearchList{
    color:rgb(228, 34, 34);
}
.carusel{
    transform-origin: center center;
    transform: scale(0.94);
    color:black;
    right:0;
    position: relative;
    display: inline-block;
}
.caruselElem{
    width:100%;
    background-color: transparent;
}
.advancedFields{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.headerImg{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.logoH1.dva{
    display: none;
}
.logoH1{
    font-family: "Indie Flower", cursive;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    cursor: pointer;
    transition: .5s;
    color: #4a6688;
    position: relative;
}
.logoH1::selection{
    background-color: transparent;
}
.darkMode .wrapperDiv{
    filter: blur(6px) invert() opacity(.15);
}
.wrapperDiv{
    z-index: -1;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    filter: blur(5px) opacity(.15);
    position: absolute;
    background-repeat: repeat;
    background-image: url(http://res.cloudinary.com/dete2z5hu/image/upload/v1585868111/file_estpve.jpg);
}
.table{
    background-color:white;
    border: 1px solid #eee;
}
@media screen and (max-width: 769px){
    .logoH1{
        display: none;
    }
    .logoH1.dva{
        display: block;
    }
}